<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materialize Button Types</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <style>
        .container {
            margin-top: 20px;
        }

        .btn-container {
            margin: 20px 0;
        }
    </style>
</head>

<body>

    <div class="container">
        <h4>Materialize Button Types</h4>

        <!-- Raised Buttons -->
        <div class="btn-container">
            <h5>Raised Buttons</h5>
            <a href="#" class="btn-large waves-effect waves-light blue">Blue Raised Button</a>
            <a href="#" class="btn-large waves-effect waves-light green">Green Raised Button</a>
            <a href="#" class="btn-large waves-effect waves-light orange">Orange Raised Button</a>
        </div>

        <!-- Flat Buttons -->
        <div class="btn-container">
            <h5>Flat Buttons</h5>
            <a href="#" class="btn-flat blue-text waves-effect">Blue Flat Button</a>
            <a href="#" class="btn-flat green-text waves-effect">Green Flat Button</a>
            <a href="#" class="btn-flat orange-text waves-effect">Orange Flat Button</a>
        </div>

        <!-- Outline Buttons -->
        <div class="btn-container">
            <h5>Outline Buttons</h5>
            <a href="#" class="btn-outline blue-text waves-effect">Blue Outline Button</a>
            <a href="#" class="btn-outline green-text waves-effect">Green Outline Button</a>
            <a href="#" class="btn-outline orange-text waves-effect">Orange Outline Button</a>
        </div>

        <!-- Floating Action Buttons (FAB) -->
        <div class="btn-container">
            <h5>Floating Action Buttons</h5>
            <a href="#" class="btn-floating btn-large waves-effect waves-light blue">
                <i class="material-icons">add</i>
            </a>
            <a href="#" class="btn-floating btn-large waves-effect waves-light green">
                <i class="material-icons">check</i>
            </a>
            <a href="#" class="btn-floating btn-large waves-effect waves-light orange">
                <i class="material-icons">visibility</i>
            </a>
        </div>

        <!-- Disabled Buttons -->
        <div class="btn-container">
            <h5>Disabled Buttons</h5>
            <a href="#" class="btn blue waves-effect waves-light disabled">Disabled Button</a>
            <a href="#" class="btn green waves-effect waves-light disabled">Disabled Button</a>
            <a href="#" class="btn orange waves-effect waves-light disabled">Disabled Button</a>
        </div>

        <!-- Small Buttons -->
        <div class="btn-container">
            <h5>Small Buttons</h5>
            <a href="#" class="btn-small waves-effect waves-light blue">Small Blue Button</a>
            <a href="#" class="btn-small waves-effect waves-light green">Small Green Button</a>
            <a href="#" class="btn-small waves-effect waves-light orange">Small Orange Button</a>
        </div>

        <!-- Link Buttons -->
        <div class="btn-container">
            <h5>Link Buttons</h5>
            <a href="#" class="btn-link waves-effect blue-text">Blue Link Button</a>
            <a href="#" class="btn-link waves-effect green-text">Green Link Button</a>
            <a href="#" class="btn-link waves-effect orange-text">Orange Link Button</a>
        </div>

        <!-- Button with Icon Only -->
        <div class="btn-container">
            <h5>Button with Icon Only</h5>
            <a href="#" class="btn blue waves-effect waves-light">
                <i class="material-icons">person_add</i>
            </a>
            <a href="#" class="btn green waves-effect waves-light">
                <i class="material-icons">check_circle</i>
            </a>
            <a href="#" class="btn orange waves-effect waves-light">
                <i class="material-icons">visibility</i>
            </a>
        </div>

    </div>

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
