{% extends 'base.html' %}

{% block content %}
    <h4>Classes</h4>

    <div class="row">
        {% for class in classes %}
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">{{ class.name }}</span>
                        <p>{{ class.description }}</p>
                    </div>
                    <div class="card-action">
                        <a href="/students/add/{{ class.id }}" class="btn-flat blue-text waves-effect">Add Students</a>
                        <a href="/attendance/mark/{{ class.id }}" class="btn-flat green-text waves-effect">Mark Attendance</a>
                        <a href="/attendance/view/{{ class.id }}" class="btn-flat orange-text waves-effect">View Attendance</a>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    

    <a href="/classes/add" class="btn blue">Add New Class</a>
{% endblock %}
