{% extends 'base.html' %}

{% block content %}
    <h4>Mark Attendance for Class {{ class_.name }}</h4>

    <form action="/attendance/mark/{{ class_.id }}" method="POST">
        <div class="input-field">
            <label for="attendance_date">Date</label>
            <input type="date" id="attendance_date" name="attendance_date" value="{{ datetime.utcnow().strftime('%Y-%m-%d') }}" />
        </div>

        <table class="striped">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Attendance Status</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.name }}</td>
                        <td>
                            <select name="attendance_status_{{ student.id }}" class="browser-default">
                                <option value="present">Present</option>
                                <option value="absent">Absent</option>
                            </select>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn blue">Submit Attendance</button>
    </form>
{% endblock %}
