{% extends 'base.html' %}

{% block content %}
    <h4>View Attendance for Class {{ class_.name }}</h4>

    <table class="striped">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Attendance Status</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for attendance, student in attendance_records %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ attendance.status }}</td>
                    <td>{{ attendance.date.strftime('%Y-%m-%d') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
